#pieDiv { 
	height: 400px; 
	width:  400px; 
}

.pieDemo .pieWith { 
	fill: green; 
}

.pieDemo .pieAgainst { 
	fill: red; 
}

.pieDemo .pieNeutral { 
	fill: blue; 
}

.pieDemo .pieAbstained { 
	fill: gray; 
}